body {
   background-image:url("/ui/road.jpg");
    font-family: sans-serif;
    background-size:100%;
    background-repeat:no-repeat;
   
    
}
.container {
	        width:100%;
			margin:auto;
			
			
			}

.center {
    text-align: center;
}
.heading{
    margin-top:200px;
    font-size:72px;
    font-family:"Comic Sans MS", cursive, sans-serif;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container{
    text-align:center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
     background-color: #333;
    
}

li {
    float: left;
}

li a {
    display: block;
    
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


