body {
    background-image: url("https://www.google.co.in/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwi_yNn678bQAhVJO48KHS9yAGcQjRwIBw&url=http%3A%2F%2Fwallpapercave.com%2Fhimalayas-wallpaper&bvm=bv.139782543,d.c2I&psig=AFQjCNFsQ9TfV_QyUMRei23IjlPaYzIKwg&ust=1480265106334328");
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container{
    text-align:center;
}

