body {
   background-image:url("/ui/road.jpg");
    font-family: sans-serif;
    background-size:100%;
    background-repeat:no-repeat;
   
    
}
.container {
	        width:100%;
			margin:auto;
			
			
			}

.center {
    text-align: center;
}
.heading{
    margin-top:1000px;
    font-size:72px;
    font-family:"Comic Sans MS", cursive, sans-serif;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container{
    text-align:center;
}

